<ion-view ng-controller="LessonDetailController" title="lessondetail" ng-init="init()">
    <ion-header-bar class="bar-stable bar-header center" style="background-color:#3cd5af;">
        <button class="button button-icon icon ion-android-arrow-back" ng-click="go_back()  "></button>
        <div class="h1 title">Lesson Detail</div>
    </ion-header-bar>

    <ion-content>


        <ion-list>
        <!--  teacher info -->
  <!--           <div class="list card" style="background-color:#3cd5af;">

                <div class="item item-avatar">
                    <img src="img/logo.png">
                    <h2>ครูใจดี สอนเลข</h2>
                    <p>สอนดี สอนเก่ง</p>
                </div>

            </div> -->
<!--  teacher info -->
            <!-- Subject -->
            <div class="list card">
                <div class="item item-icon-left item-divider">
                    <i class="icon ion-erlenmeyer-flask"></i>
                    Subject
                </div>
                <div class="item" href="#">
                    {{lessoninfo.subject}}
                </div>
            </div>

            <!-- Level -->
            <div class="list card">
                <div class="item item-icon-left item-divider">
                    <i class="icon ion-university"></i>
                    Level
                </div>
                <div class="item" href="#">
                    {{lessoninfo.level}}
                </div>
            </div>

            <!-- Place -->
            <!--div class="list card">
                <div class="item item-icon-left item-divider">
                    <i class="icon ion-earth"></i>
                    Place
                </div>
                <div class="item item-button-right" href="#">
                    <button class="button button-clear button-positive">
                        <i class="icon ion-android-navigate"></i>
                    </button>
                    Kasetsart
                </div>
            </div-->

            <!-- Time -->
            <div class="list card">
                <div class="item item-icon-left item-divider">
                    <i class="icon ion-android-calendar"></i>
                    Day&Time
                </div>
                <div class="item" href="#" ng-repeat="time in lessoninfo.schedule">
                    {{time.day}}<br>
                    {{time.time_start}}-{{time.time_end}}
                </div>
            </div>



            <!-- Time -->
            <div class="list card">
                <div class="item item-divider">
                    Description
                </div>
                <div class="item item-text-wrap">
                    {{lessoninfo.description}}
                </div>
            </div>




        </ion-list>



    </ion-content>
</ion-view>