<ion-view ng-controller="MylessonController" title="mylesson">
    <ion-header-bar class="bar-stable bar-header center" style="background-color:#3cd5af;">
        <button class="button button-icon icon ion-navicon"></button>
        <div class="h1 title">My Lesson</div>
    </ion-header-bar>

        <ion-content>

        <ion-list>
            <div class="list">

              <a class="item item-avatar">
                <img src="img/math-icon.png">
                    <h2>Math</h2>
                    <p>Kasetsart</p>
                </a>
              <a class="item item-avatar">
                <img src="img/english-icon.png">
                    <h2>English</h2>
                    <p>Kasetsart</p>
                </a>

              <a class="item item-avatar">
                <img src="img/Art-icon.png">
                    <h2>Art</h2>
                    <p>Kasetsart</p>
                </a>
              <a class="item item-avatar">
                <img src="img/science-icon.png">
                    <h2>Science</h2>
                    <p>Kasetsart</p>
                </a>
              <a class="item item-avatar">
                <img src="img/social-icon.png">
                    <h2>Social</h2>
                    <p>Kasetsart</p>
                </a>
              <a class="item item-avatar">
                <img src="img/etc-icon.png">
                    <h2>etc</h2>
                    <p>Kasetsart</p>
                </a>

            </div>
        </ion-list>

      </ion-content>
</ion-view>
