<ion-view ng-controller="ProfileController" title="Profile" ng-init="init()">
    <ion-header-bar class="bar-stable bar-header" style="background-color:#3cd5af">
            <button class="button button-icon icon ion-android-arrow-back"></button>
            <div class="h1 title">Profile</div>
            <button class="button button-icon icon ion-android-create"></button>
        </ion-header-bar>
        <ion-content>
            <div align="center">
                <img class="full-image profile-image" src="{{showData.pic_profile}}" />    
            </div>
            <div class="list">
                <div class="item item-icon-left" href="#">
                    <i class="icon ion-android-person"></i> {{showData.firstname}} {{showData.lastname}}
                </div>

                

                <div class="item item-icon-left" href="#">
                    <i class="icon ion-chatbubble-working"></i> {{showData.tel}}
                    
                </div>

                <div class="item item-icon-left" href="#">
                    <i class="icon ion-android-mail"></i> {{showData.email}}
                    
                </div>
                <div class="item item-icon-left" href="#" ng-show="showData.isTutor == true">
                    <i class="icon ion-erlenmeyer-flask"></i> {{showData.teach}}
                </div>

                <a class="item item-icon-left" href="#" ng-show="showData.isTutor == true">
                    <i class="icon ion-android-list"></i> Comment
                </a>

            </div>

        </ion-content>
    </ion-view>