<ion-view ng-controller="ScheduleController" title="Schedule" ng-init="init()">
    <ion-header-bar class="bar-stable bar-header center" style="background-color:#3cd5af;">
        <button class="button button-icon icon ion-android-arrow-back" ng-click="go_back()"></button>
        <div class="h1 title">Schedules</div>
    </ion-header-bar>

    <ion-content>


        <ion-list>

          <div class="list" >
            <div class="item item-icon-left" href="#" ng-repeat="time in schedule_now">
              <i class="icon ion-android-time"></i>
              <h2>{{time.day}}</h2>
              <p>{{time.time_start}} - {{time.time_end}}</p>
            </div>

          </div>

          <br>


            <div class="bar bar-footer">
              <button class="button button-outline button-positive" style="width:100%;" ng-click="go_create()">
                Create Schedules
              </button>
            </div>

        </ion-list>

    </ion-content>
    </ion-view>