<ion-view ng-controller="SearchController" title="search" ng-init="init()">
    <ion-header-bar class="bar-stable bar-header bar-positive" style="background-color:#3cd5af">
        <button class="button button-icon icon ion-android-arrow-back" ng-click="go_back()"></button>
        <div class="h1 title">Search</div>
    </ion-header-bar>
        <ion-tabs class="tabs-icon-top tabs-positive tabs-striped">
            <ion-tab title="Teacher" icon="ion-android-people" href="#/search/teacher">
                <ion-nav-view name="teacher-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Subject" icon="ion-ios-flask" href="#/search/subject">
                <ion-nav-view name="subject-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab title="Map" icon="ion-android-map" href="#/search/map">
                <ion-nav-view name="map-tab"></ion-nav-view>
            </ion-tab>

        </ion-tabs>

    <script id="teacher.html" type="text/ng-template">
        <ion-view ng-controller="searchTeacherController" ng-title="Teacher" ng-init="init()">
            <ion-content class="padding">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Teacher's name" ng-model="value" ng-change="searchTeacher(value)">
                </label>
                <p class="result">{{teachers.length}} results</p>

                <div class="list card">
                <div ng-repeat="teacher in teachers" >
                    <a class="item item-avatar" ng-click="teacherDetails(teacher)">
                        <img src="{{teacher.pic_profile}}">
                        <h2>{{teacher.firstname}} {{teacher.lastname}}</h2>
                        <p>{{collectSubject(teacher)}}</p>
                    </a>
                </div>
                 
                </div>
            </ion-content>
        </ion-view>
    </script>

    <script id="subject.html" type="text/ng-template">
        <ion-view ng-controller="searchSubjectController" title="subject" ng-init="init()">
            <ion-content class="padding">
                <div class="list">
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Subject
                        </div>
                        <select name="Subject" id="subject" ng-model = "selected_subject" ng-change="Search(selected_subject,selected_level)">
                            <option ng-repeat="subject in Subjects" value="{{subject}}">{{subject}}</option>
                        </select>
                        
                    </label>
                    <label class="item item-input item-select">
                        <div class="input-label">
                            Level
                        </div>
                        <select name="Level" id="level" ng-model = "selected_level" ng-change="Search(selected_subject,selected_level)">
                            <option ng-repeat="level in Levels" value="{{level}}">{{level}}</option>
                        </select>
                    </label>
                    
                    <p class="result">2 results</p>
                </div>
                <div class="list card">
                    <div ng-repeat="teacher in Teachers">
                     <div ng-repeat="lesson in teacher.lesson" >
                    <a class="item item-avatar" ng-click="teacherLessonDetail(lesson,teacher)" ng-show="filter(selected_subject,selected_level,lesson)">
                        <img src="{{teacher.pic_profile}}">
                        <h2>{{teacher.firstname}} {{teacher.lastname}}</h2>
                        <p>{{lesson.subject}} - {{lesson.level}}</p>
                    </a>
                
                    </div>
                </div>
                
            </ion-content>
        </ion-view>
    </script>

    <script id="map.html" type="text/ng-template">
        <ion-view ng-controller="searchMapController"title="map" ng-init="init()">
    <ion-content class="padding">
        <div>
            <map id="searchmap"> </map>
        </div>
    </ion-content>
</ion-view>
       
    </script>

</ion-view>